div.list-item {
    width: 200px;
    height: 240px;
    padding:5px 10px;
    display: flex;
    flex-direction: column;
}
img.machine-img {
    width: 180px;
    height: 180px;
    cursor: pointer;
}

div.detailes-container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    background-color:rgba(172, 172, 172, 0.763)

}
div.detailes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 4px;
    align-items: center;
}
p.name-and-id {
    margin: 0;
}

button.edit {
    padding: 4px 6px;
    border-radius: 5px;
    background-color:#EAD196 ;
    cursor: pointer;
}