/* .listview-content {
    width: 90vw;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 30px;
  }
  .k-listview-content {
    width: 90vw;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 30px;
  } */

.listview-content{
    width: 90vw;
    max-width: 1002px;
    background-color: #F3EDC8;
}
@media (max-width: 1120px) {
    .listview-content {
        max-width: 802px;
    }
}
@media (max-width:900px) {
    .listview-content {
        max-width: 602px;
    }
}
@media (max-width: 670px) {
    .listview-content {
        max-width: 402px;
    }
}



.k-listview-content{
    justify-content: center;
}